
/ConsoleTest/bin
/ConsoleTest/obj
/TodoLibrary/bin
/TodoLibrary/obj
/AzureStuff.suo
/TodoServerLibrary/bin
/TodoServerLibrary/obj
/TodoServerLibrary/TodoServerLibrary.csproj.user
/TodoService/obj
/TodoService/bin
/TodoService/TodoService.csproj.user